<!DOCTYPE html>
<html>
	<head>
		<title>Products</title>
		<meta charset="utf-8">
		{% load static from staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/colorpicker.css'%}" />
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="{% static 'js/bootstrap.js'%}"></script>
		<script src="{% static 'js/bootstrap-colorpicker.js'%}"></script>
		<script>
			$(function() {
				var cpinput1 = $(".cpinput1")[0];
				var cpinput2 = $(".cpinput2")[0];
				$(".cp1").colorpicker().on('changeColor', function(ev){
					cpinput1.value = ev.color.toHex();
				});
				$(".cp2").colorpicker().on('changeColor', function(ev){
					cpinput2.value = ev.color.toHex();
				});
			});	
		</script>
	</head>
	<body>
		<div class="container-narrow">
			<div class="masthead">
                <a href="/"><h3 class="muted">{{ MY_TITLE }}</h3></a>
			</div>
			<hr>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>