{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="span2 text-center">
{% load thumbnail %}
<img src="{{ product.image|thumbnail_url:'img' }}"/>
</div>
<div class="span7">
<div class="row-fluid">
<div class="span3">
<a href="/id{{ product.id }}"><h4>{{ product.title }}</h4></a>
</div>
<div class="span3">
Weight: {{ product.weight }}
</div>
<div class="span3">
Height: {{ product.height }}
</div>
<div class="span3">
Color: {{ product.color }}
</div>
</div>
<div class="row">
<div class="span7">
<p>{{ product.description }}</p>
{% if user.is_superuser %}
	<p><a href="/edit/id{{ product.id }}">Edit</a></p>
{% endif %}
</div>
</div>
</div>
</div>
{% endblock %}